# Dependencies
node_modules/

# Temporary/local
tmp/
TMP~1/
.expo/
.env
.env*.local
*.log

# Expo
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.pfx
*.key
*.crt
*.cer
*.mobileprovision
GoogleService-Info.plist
google-services*.json

# Metro
.metro-health-check*

# Android
android/
*.apk

# iOS
ios/
*.ipa

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
coverage/
